---
// pages/blog/[...page].astro
import { getCollection } from "astro:content";
import CategoryCloud from "../../components/CategoryCloud.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import type { CollectionEntry } from 'astro:content';
import type { PaginateFunction } from 'astro';


export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 4 });
}

const { page } = Astro.props;
---

<!-- Change styles here -->
<MainLayout>
  <section class="container mx-auto py-4" aria-label="New Blog Posts">
    <h1 class="h1 text-gray-800 dark:text-gray-100 text-5xl font-bold mb-4">New Blog Posts</h1>
    <div class="post-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      {page && page.data.map((post: CollectionEntry<"posts">) => <PostCard post={post} />)}
    </div>
  </section>

   <!-- Pagination and Category Cloud centered -->
   <div class="flex flex-col items-center">    
    <Pagination currentPage={page.currentPage} totalPages={page.lastPage} prevUrl={page.url?.prev} nextUrl={page.url?.next}/>    
    <h2 class="h3 title mt-6 mb-2 text-center">Blog Categories</h2>
    <CategoryCloud class="flex flex-wrap justify-center gap-2 mb-6" showCount={true} />
  </div>
</MainLayout>
