---
// library imports
import { Image } from 'astro:assets';

// utils imports
import { slugify, formatDate } from "../utils/blogutils";

const { category, title, author, date, cover } = Astro.props;
---

<header>
  <div class="container">
    <small>
      Hi can you see me?
      <a href={`/category/${slugify(category)}/`} class="badge bg-blue-500 text-white rounded px-2 py-1 uppercase tracking-wide text-xs no-underline">{category}</a>
    </small>
    <h1 class="h2">{title}</h1>
    <p>
      by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
        formatDate(date)
      }
    </p>
  </div>
  <Image
    src={cover.src}
    alt={cover.alt}
    width="1200"
    height="600"
    format="avif"    
    quality={80}    
    class="hero-image"
  />
</header>