---
import { slugify, formatDate } from "../utils/blogutils";

const { relatedPosts = [] } = Astro.props;
---

{
  relatedPosts.map((post) => (
    <div class="post">
      <h3 class="h4">
        <a href={post.url}>{post.data.title}</a>
      </h3>
      <small>
        <a href={`/author/${slugify(post.data.author.id)}/`}>
          {post.data.author.id}
        </a>{" "}
        • {formatDate(post.data.date)}
      </small>
    </div>
  ))
}