---
// component import
import { getCollection } from "astro:content";
import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import type { Post } from '../types.d.ts';
import Prose from "../components/Prose.astro";
import Icon from "astro-icon";

// util imports
import { formatBlogPosts } from "../utils/blogutils";
import TagCloud from "../components/TagCloud.astro";
const { frontmatter } = Astro.props;

if (!frontmatter) {
  console.warn('No frontmatter provided to BlogPostLayout');
  return;
}
const { title, description, date, category, author, cover, tags} = frontmatter;

const allPosts = await getCollection('posts');
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});

let related = [];
if (frontmatter.relatedPosts) {
  related = formattedPosts
    .filter((post: Post) => frontmatter.relatedPosts.includes(post.slug))
    .slice(0, 3);
}


if (related.length === 0) {
  related = formattedPosts
    .filter(
      (post: Post) =>
        post.data.category.toLowerCase() === category.toLowerCase() &&
        post.data.title !== title
    )
    .slice(0, 3);
}
  const relatedPosts = related.length ? related : [];
  
---



  <PostHeader {title} {description} {date} {category} {cover} {author} />

  <div class="post-content md:flex md:justify-center">
    <div class="content mx-4 my-6">      
      <Prose>
      <slot />
    </Prose>
      <TagCloud {tags}/>    
    </div>
    <div class="sidebar md:w-1/4">
      <aside class="container flex flex-wrap justify-start space-y-8" aria-label="Blog categories">
        <h2 class="h3 bold title text-2xl mt-6 mx-2 ">Blog Categories</h2>
        <CategoryCloud class="flex flex-wrap mx-4 gap-1 my-1 justify-start" />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related posts">            
            <h2 class="h3 bold text-2xl mx-2 my-4 flex title">Related Posts</h2>
            <RelatedPosts {relatedPosts}/>
          </aside>
        )
      }
    </div>
  </div>

